<configuration>


	​
	<timestamp key="logDate" datePattern="dd-MM-yyyy" />
	
	<appender name="NombreGuapoParaUnAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>C://dev//LogFileJCC-${​​​​​logDate}​​​​​.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>C://dev//LogfileJCC-${​​​​​logDate}​​​​​.%i.log.zip
			</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>3</maxIndex>
		</rollingPolicy>

		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>50KB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<pattern>%d{​​​​​HH:mm:ss.SSS}​​​​​ [%thread] %-5level
				%logger{​​​​​36}​​​​​ - [%method]
				- %msg%n</pattern>
		</encoder>
	</appender>


	<!-- LOGGER ROOT -->
	<root level="debug">
		<appender-ref ref="NombreGuapoParaUnAppender" />
	</root>


</configuration>